{% extends "base.html" %}
{% block title %}
	<title>{{ group.title }}</title>
{% endblock %}
{% block content %}
	<div class="container">
        <div class="align-items-center d-flex m-3">
            {% if group.group_picture %}
            <img src="{{ group.group_picture.url }}" alt="Profile Picture" class="me-3"
                 style="border-radius: 50%; width: 200px; height:200px; border: 2px grey solid">
            {% endif %}
        <div>
            <h2>{{ group.title }}</h2>
            <h5>{{ group.description }}</h5>
        </div>   
        </div>
        <form action="{% url "groups:group-join" pk=group.pk %}" method="POST">
            {% csrf_token %}
            {{ join_form.as_div }}
            <button type="submit" class="btn btn-danger">Join</button>
            <a href="{% url "groups:group-create-post" pk=group.pk %}" class="btn btn-primary ms-2">Create Post</a>
        </form>
        <a href="{% url "groups:members-list" pk=group.pk %}" class="btn btn-light mt-3">Members</a>
    <h3 class="mt-5">Posts</h3>
    {% for post in posts %}
    {% include "post.html" %}
    {% endfor %}
    </div>
{% endblock %}