<div class="col-12 col-md-6">
    <div class="card mt-3">
        <div class="d-flex align-items-center justify-content-center">
            {% if profile.pfp %}
                <img src="{{ profile.pfp.url }}" alt="Profile Picture" class="m-3"
                     style="border-radius: 50%; width: 200px; height:200px; border: 2px grey solid">
            {% endif %}
            <h3 class="card-title">{{ profile.username }}</h3>
            <a href="{% url "profile:profile-detailed" pk=profile.pk %}" class="stretched-link"></a>
        </div>
    </div>
</div>